@import '../init';

// Resets / default styling
//
// These are the default base styles applied to HTML elements.
//
// Component classes can override these styles, but if no class applies a style
// to an HTML element, these styles will be the ones displayed.
//
// Weight: -9
//
// Style guide: base

// Ensure fonts get loaded first to minimize front-end performance impact.
@import 'fonts';
@import 'normalize';
