@import '../init';

// Embedded content
//
// Weight: 2
//
// Style guide: base.embedded

// Image
//
// An `<img>` element represents an image.
//
// Markup: ../kss-templates/embedded-img.twig
//
// Style guide: base.embedded.img

img {
  // Remove the border on images inside links in IE <11.
  border: 0;
  width: auto;
}

img,
svg {
  // Suppress the space beneath the baseline
  // vertical-align: bottom;
  // Responsive images
  max-width: 100%;
  height: auto;
}

// Scalable vector
//
// A `<svg>` element represents an image encoded as a Scalable Vector Graphic.
//
// Markup: ../kss-templates/embedded-svg.twig
//
// Style guide: base.embedded.svg

svg:not(:root) {
  // Hide the overflow in IE.
  overflow: hidden;
}

// Address phantom white space in picture element
picture {
  font-size: .1px;
  line-height: 0;
}
