@import '../init';

// Tables
//
// The `<table>` element displays tabular data in rows, columns, and cells.
//
// Markup: ../kss-templates/tables-table.twig
//
// Weight: 1
//
// Style guide: base.table

table {
  // Add vertical rhythm margins.
  margin: 1em 0 2em;
  // Remove most spacing between table cells.
  border-collapse: collapse;
  border-spacing: 0;
  // Prevent cramped-looking tables
  width: 100%;

  caption {
    padding: 0 0 .5em;
  }
}

td,
th {
  // Remove most spacing between table cells.
  padding: 0;
}
