/*
 * @file
 * Provides the layout styles for nics--article-aside.
 */

// article with aside
//
//
// Weight: 0
//
// Style guide: layouts

.layout--article-aside {

  @include breakpoint($tab) {
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "main aside";

    .ga-main {
      grid-area: main;
      /* no grid support? */
      float: left;
      width: 66%;
    }

    .ga-aside {
      grid-area: aside;
      /* no grid support? */
      float: right;
      width: 33%;
    }
  }
}
