/**
 * @file
 * Visual styles for search api autocomplete suggestions.
 *
 */
/* Vertical rhythm presets =========================================== */
/* Set the base images folder */
/* Layout ============================================================ */
/* Breakpoints ======================================================== */
/* line 8, src/scss/3_components/form/search_api_autocomplete.scss */
.search-api-autocomplete-suggestion {
  display: inline-block;
}

/* line 12, src/scss/3_components/form/search_api_autocomplete.scss */
.search-api-autocomplete-search {
  border: 0 !important;
  -webkit-box-shadow: 0 0.8rem 0.9rem rgba(0, 0, 0, 0.125);
  box-shadow: 0 0.8rem 0.9rem rgba(0, 0, 0, 0.125);
  padding: .6rem;
  margin-top: -.1rem;
}

/* line 18, src/scss/3_components/form/search_api_autocomplete.scss */
.search-api-autocomplete-search::before {
  display: block;
  content: 'Try one of these pages ...';
  font-size: 1.5rem;
  color: #4d4d4d;
  padding: .9rem .3rem;
}

/* line 26, src/scss/3_components/form/search_api_autocomplete.scss */
.search-api-autocomplete-search .ui-menu-item-wrapper {
  border: 0;
  color: #333;
  margin: 0;
  padding: 0;
}

/* line 33, src/scss/3_components/form/search_api_autocomplete.scss */
.search-api-autocomplete-search .ui-menu-item-wrapper.ui-state-active a {
  background: #333;
  color: #f0f0f0;
}

/* line 38, src/scss/3_components/form/search_api_autocomplete.scss */
.search-api-autocomplete-search .ui-menu-item {
  list-style-image: none;
}

/* line 42, src/scss/3_components/form/search_api_autocomplete.scss */
.search-api-autocomplete-search .ui-menu-item:hover {
  background: #f0f0f0;
}

/* line 46, src/scss/3_components/form/search_api_autocomplete.scss */
.search-api-autocomplete-search .ui-menu-item a {
  display: block;
  font-size: 1.6rem;
  line-height: 2.1rem;
  text-decoration: none;
  position: relative;
  padding: .8rem .3rem .8rem 1.6rem;
}

/* line 53, src/scss/3_components/form/search_api_autocomplete.scss */
.search-api-autocomplete-search .ui-menu-item a:focus, .search-api-autocomplete-search .ui-menu-item a.ui-state-active {
  outline: 1px solid #333;
  background: #333;
  color: #f0f0f0;
}

/* line 59, src/scss/3_components/form/search_api_autocomplete.scss */
.search-api-autocomplete-search .ui-menu-item a::before {
  /* create a little arrow using css */
  content: ' ';
  display: block;
  position: absolute;
  left: .1rem;
  top: 1.4rem;
  width: .8rem;
  height: .8rem;
  overflow: hidden;
  border: .1rem solid #bcbcbc;
  border-left: 0;
  border-bottom: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 76, src/scss/3_components/form/search_api_autocomplete.scss */
.search-api-autocomplete-search .autocomplete-suggestion-note {
  font-size: 90%;
}

/* line 80, src/scss/3_components/form/search_api_autocomplete.scss */
.search-api-autocomplete-search .autocomplete-suggestion-user-input {
  font-weight: bold;
}

/* line 84, src/scss/3_components/form/search_api_autocomplete.scss */
.search-api-autocomplete-search .autocomplete-suggestion-results-count {
  position: absolute;
  right: 0.2em;
}

/*# sourceMappingURL=search_api_autocomplete.css.map */