<div class="grid layout--article-n-side">
  <div class="ga-main">The <code>.ga-main</code> grid item</div>
  <div class="ga-aside">The <code>.ga-aside</code> grid item<</div>
</div>
<div class="grid diptych">
  <div>Grid item</div>
  <div>Grid item</div>
</div>
