/*
 * @file
 * Provides the styling for table components.
 */
@import '../../init';

.table-fixed-width {
  table-layout: fixed;
}

// wrapper to enable scrolling on overflowing tables
.x-scroll {
  width: 100%;
  overflow-x: auto;

  // Add margins to the wrapper and remove from the child table
  margin: 1em 0 2em;
  table {
    margin: 0;
  }
}
