/*
 * @file
 * Provides the generic styling for all types of form components.
 */
@import '../../init';

fieldset,
.fieldset {
  border: 0;

  &:focus {
    outline: 0;
    border: 0;
  }
}

select,
[type='text'],
[type='tel'],
[type='url'],
[type='email'],
[type='password'],
[type='date'],
[type='time'],
[type='number'],
//input:not([type='button']):not([type='submit']):not([type='radio']):not([type='checkbox']):not([type='search']),
textarea {
  box-sizing: border-box;
  border: 1px solid #333;
  border-radius: 0;
  color: #333;
  margin: .6rem 0 0;
  padding: .6rem;

  &:focus {
    border-color: #2daff7;
    box-shadow: 0 0 3px #2daff7;
    color: $black;
    outline: 0;
  }

  /* Highlight the form elements that caused a form submission error. */
  &.error,
  .error:focus {
    border: 1px solid #c94b4b;
    background-color: rgba(255, 182, 193, .5); // lightpink
    box-shadow: none;
    color: #000;
  }

  @include breakpoint($phab, $no-query: true) {
    margin: .9rem 0 0;
    padding: .6rem;
  }
}

// Based on https://css-tricks.com/styling-a-select-like-its-2019/
.form-select {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: normal;
  color: $charcoal;
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  box-sizing: border-box;
  margin: rhythm(1) 0 0;
  border: 1px solid $grey-dark;
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23666666%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E') linear-gradient(to bottom, #fff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;

  @include breakpoint($phab, $no-query: true) {
    font-size: 18px;
    line-height: 1.5;
    height: 2.5em;
    padding: .5em 1.3334em .5em .6667em;
  }
}

.form-select::-ms-expand {
  display: none;
}

.form-select:hover {
  border-color: $brand-primary;
}

.form-select:focus {
  border-color: $brand-primary;
  color: #222;
  outline: none;
}

.form-select option {
  font-weight: normal;
}

textarea,
.form-textarea {
  width: 100%;
  max-width: 620px;
  line-height: 1.5;

}
