/**
 * @file
 * Visual styles for search api autocomplete suggestions.
 *
 */
@import '../../init';

.search-api-autocomplete-suggestion {
  display: inline-block;
}

.search-api-autocomplete-search {
  border: 0 !important;
  box-shadow: 0 .8rem .9rem rgba(0,0,0,0.125);
  padding: .6rem;
  margin-top: -.1rem;

  &::before {
    display: block;
    content: 'Try one of these pages ...';
    font-size: 1.5rem;
    color: #4d4d4d;
    padding: .9rem .3rem;
  }

  .ui-menu-item-wrapper {
    border: 0;
    color: #333;
    margin: 0;
    padding: 0;
  }

  .ui-menu-item-wrapper.ui-state-active a {
    background: #333;
    color: #f0f0f0;
  }

  .ui-menu-item {
    list-style-image: none;
  }

  .ui-menu-item:hover {
    background: #f0f0f0;
  }

  .ui-menu-item a {
    display: block;
    font-size: 1.6rem;
    line-height: 2.1rem;
    text-decoration: none;
    position: relative;
    padding: .8rem .3rem .8rem 1.6rem;
    &:focus,
    &.ui-state-active {
      outline: 1px solid #333;
      background: #333;
      color: #f0f0f0;
    }
    &::before {
      /* create a little arrow using css */
      content: ' ';
      display: block;
      position: absolute;
      left: .1rem;
      top: 1.4rem;
      width: .8rem;
      height: .8rem;
      overflow: hidden;
      border: .1rem solid #bcbcbc;
      border-left: 0;
      border-bottom: 0;
      transform: rotate(45deg);
    }
  }

  .autocomplete-suggestion-note {
    font-size: 90%;
  }

  .autocomplete-suggestion-user-input {
    font-weight: bold;
  }

  .autocomplete-suggestion-results-count {
    position: absolute;
    right: 0.2em;
  }
}
