// sass-lint:disable indentation, no-color-keywords

// Colors
//
// The `color()` function can be used to add colors to CSS properties. To learn more,
// [read the Chroma documentation](http://johnalbin.github.io/chroma/). When using a IDE for writing code, declaring a
// function will not make the options for the function available, therefore using the `color()` function becomes more
// difficult as the developer must remember the available values and type them in full etc, therefore for each color
// value, there is an equivalent variable with the same name - the variable should be set using chroma's `color()`
// function to retain the capabilities of the sass module. Declarations in scss code for color variables should
// be declared using the $variable method.
//
// Markup: chroma.twig
//
// Weight: -9
//
// Style guide: init.variables.colors

// Define the default color scheme's color names.
$chroma: define-default-color-scheme('branding', 'The site\'s main colors. Can be used to define colors in other color schemes.');

$chroma: add-colors((
  black:                  #000,
  charcoal:               #333,
  ash-grey:               #666,
  'grey':                 #999,
  grey-dark:              #4d4d4d,
  grey-light:             #e8e7e7,
  grey-lightest:          #f0f0f0,
  grey-medium:            #cdcdcd,
  white:                  #fff,
  offwhite:               #f3f8fc,

  brand-primary:          #00aae5,
  brand-primary-dark:     #076cba,
  brand-primary-medium:   #0a7ad0,
  brand-primary-light:    #cee4f6,
  brand-primary-lightest: #f3f8fc,

  brand-secondary:        #0c1e63,
  brand-secondary-dark:   #333,

  brand-tertiary:         #db6304,
));

// Define color names for functional uses.
$chroma: define-color-scheme('functional', 'Colors used by functional parts of the design.');
$chroma: add-colors('functional', (
  // Colors used in the main content area.
  text:                   'charcoal',
  headings:               #19315a,

  link:                   #0e6bb3,
  link-hover:             'link',
  link-visited:           #5e60b5,
  link-active:            'link',

  border:                 'grey-light',

  button:                 'text',
  button-disabled:        'grey',
  button-action:          #3fa940,

  mark-bg:                #ff0,
));

$chroma-active-scheme: 'functional';

$black: color('black');
$charcoal: color(charcoal);
$ash-grey: color(ash-grey);
$grey: color('grey');
$grey-dark: color(grey-dark);
$grey-light: color(grey-light);
$grey-lightest: color(grey-lightest);
$grey-medium: color(grey-medium);
$white: color('white');
$offwhite: color(offwhite);

$brand-primary: color(brand-primary);
$brand-primary-dark: color(brand-primary-dark);
$brand-primary-medium: color(brand-primary-medium);
$brand-primary-light: color(brand-primary-light);
$brand-primary-lightest: color(brand-primary-lightest);

$brand-secondary: color(brand-secondary);
$brand-secondary-dark: color(brand-secondary-dark);

$brand-tertiary: color(brand-tertiary);

$text: color('text');
$headings: color(headings);

$link: color(link);
$link-hover: color(link-hover);
$link-visited: color(link-visited);
$link-active: color(link-active);

$border: color('border');

$button: color('button');
$button-disabled: color(button-disabled);
$button-action: color(button-action);

$mark-bg: color(mark-bg);
