// Variables
//
// Set variables for this site. These can be overridden in the scss code later.
//
// Weight: -9
//
// Style guide: init.variables

/* Vertical rhythm presets =========================================== */
// The font size set on the root html element.
$base-font-size: 10px;

// The base line height determines the basic unit of vertical rhythm.
$base-line-height: 6px;

// The length unit in which to output vertical rhythm values.
// Supported values: px, em, rem.
$rhythm-unit: 'rem';

// Whether to output fallback values in px when using rem as the rhythm-unit.
$rem-with-px-fallback: false;

// Round the line height to the nearest half line height instead of the nearest integral line height.
$round-to-nearest-half-line: true;

/* Set the base images folder */
// The relative path from the build directory, css/, to
// the source directory, images/
$image-url-path-to-source: '../' !default;
// The relative path from the root sass directory to where your components usually lie.
$image-url-subdirectory: 'images' !default;

/* Layout ============================================================ */
$max-grid-width: 940px;
$grid-gap: 20px;
$total-columns: 12;

/* Breakpoints ======================================================== */
$mob: 480px;
$phab: 600px;
$tab: 768px;
$lap: 980px;
$desk: 1382px;

$grid-breakpoints: (
  xs: 0,
  sm: $mob,
  md: $phab,
  lg: $tab,
  xl: $lap,
  xxl: $desk,
) !default;

// The amount lists, blockquotes and comments are indented.
$indent-amount: 1.8rem;

// Set the width of child grid items in the .header
// The first child will typically be the site branding wrapper, additional items (typically just the main search form)
// can be controlled with this variable which only becomes applicable @breakpoint $tab (768px).
$header-template-columns: auto 400px !default;
