// Variables
//
// Set variables for this site. These can be overridden in the scss code later.
//
// Weight: -9
//
// Style guide: init.variables

/* Vertical rhythm presets =========================================== */
// The font size set on the root html element.
$base-font-size: 10px;

// The base line height determines the basic unit of vertical rhythm.
$base-line-height: 6px;

// The length unit in which to output vertical rhythm values.
// Supported values: px, em, rem.
$rhythm-unit: 'rem';

// Whether to output fallback values in px when using rem as the rhythm-unit.
$rem-with-px-fallback: false;

// Round the line height to the nearest half line height instead of the nearest integral line height.
$round-to-nearest-half-line: true;

/* Set the base images folder */
// The relative path from the build directory, css/, to
// the source directory, images/
$image-url-path-to-source: '../' !default;
// The relative path from the root sass directory to where your components usually lie.
$image-url-subdirectory: 'images' !default;

// Font faces, stacks and sizes.
//
// Font styling and line heights are controlled by the several variables that
// used by mixins like adjust-font-size-to().
// These variable and mixins are documented in [Compass](http://compass-style.org/reference/compass/typography/vertical_rhythm/).
// We import Google fonts in the head of the document and set the base family to be
// 'Open Sans', sans-serif
//
// Style guide: init.variables.typography
// The default font family.
$base-font-family: 'Lato', 'Open Sans', sans-serif;
$font-monospace:   'Courier New', 'DejaVu Sans Mono', monospace, sans-serif;;

// The font sizes for h1-h6.
$h1-font-size: 4 * $base-font-size;
$h2-font-size: 2.8 * $base-font-size;
$h3-font-size: 2.4 * $base-font-size;
$h4-font-size: 1.8 * $base-font-size;
$h5-font-size: 1.8 * $base-font-size;
$h6-font-size: 1.8 * $base-font-size;
$p-font-size: 1.8 * $base-font-size;

// The amount lists, blockquotes and comments are indented.
$indent-amount: 1.8rem;

/* Layout ============================================================ */
$max-grid-width: 940px;
$grid-gap: 20px;
$total-columns: 12;

/* Breakpoints ======================================================== */
$mob: 480px;
$phab: 600px;
$tab: 768px;
$lap: 980px;
$desk: 1382px;

$grid-breakpoints: (
  xs: 0,
  sm: $mob,
  md: $phab,
  lg: $tab,
  xl: $lap
) !default;
