{#
/**
 * @file
 * Default theme implementation of a facet result item.
 *
 * Available variables:
 * - value: The item value.
 * - raw_value: The raw item value.
 * - show_count: If this facet provides count.
 * - count: The amount of results.
 * - is_active: The item is active.
 * - facet: The facet for this result item.
 *   - id: the machine name for the facet.
 *   - label: The facet label.
 *
 * @ingroup themeable
 */
#}{% set deactivate_title = 'Remove @value filter'|t({'@value': value}) %}
{% if is_active %}
  <span class="facet-item__status js-facet-deactivate" title="{{ deactivate_title }}">&times;</span>
{% endif %}
<span class="facet-item__value">{{ value }}</span>
{% if show_count and not is_active %}
  {% spaceless %}
  <span class="facet-item__count">(<span>{{ count }}</span> <span class="visually-hidden">{{ 'results'|t }}</span>)</span>
  {%  endspaceless %}
{% endif %}
