.nav-menu{list-style:none;padding:0}.nav-item{margin:0;padding:0}.menu-inline .nav-item{display:inline-block}.nav-menu a,.nav-link{text-decoration:none}.nav-menu a:hover,.nav-link:hover{text-decoration:underline}
