/*
 * @file
 * Provides the styling for book navigation element.
 */
@import '../../init';

.book-navigation {
  width: 100%;
  text-align: center;
  background-color: #f2f2f2;
  min-height: 33px;
  padding: 0;
  margin-top: 1.5rem;
  border: 0 solid;
  display: table;

  li {
    display: table;
    width: 100%;
    line-height: 2.4rem;
    padding: 1.5rem 2.1rem 1.5rem 1.4rem;
    margin: 0;
  }

  li.page-previous {
    text-align: left;
    background-color: #dfdfdf;
  }
  li.page-next {
    text-align: right;
    background-color: #dfdfdf;
    padding-right: .7rem;
  }

  a,
  span {
    display: table-cell;
    vertical-align: middle;
  }

  @include breakpoint($mob, $no-query: true) {
    li {
      display: table-cell;
      vertical-align: middle;
      padding: 1.7rem;
      margin: 0;
    }

    a,
    span {
      display: block;
      width: 100%;
      float: none;
    }

    .page-previous,
    .page-next {
      padding: .7rem 2.1rem .7rem .7rem;
      background: #dfdfdf;
      background-size: 6px auto;
      border-left: 7px solid #dfdfdf;
      width: 42%;
    }

    .page-up {
      width: 16%;
    }
  }
}
