/*
 * @file
 * Provides the styling for a navigation breadcrumb.
 */
@import '../../init';

// Breadcrumb navigation
//
// The path to the current page in the form of a list of links.
//
// Markup: breadcrumb.twig
//
// Style guide: components.navigation.breadcrumb

.breadcrumb,
%breadcrumb {
  margin: 1.2rem auto;

  @include breakpoint($phab) {
    margin: 2.1rem auto 2.6rem;
  }

  @media print {
    display: none;
  }

  &--list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &--item {
    @include adjust-font-size-to(13px, 3);
    display: inline;
    list-style-type: none;
    margin: 0 5px 0 0;
    padding: 0;

    &::after {
      content: '>';
    }

    &:last-child::after {
      content: '';
    }
  }

  a {
    color: color(brand-secondary);
    margin-right: 5px;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
