
@import '../../init';

.main-menu {
  background-color: color(brand-primary-medium);
  position: relative;

  .nav {
    &-menu {
      margin: 0 auto;
      max-width: 990px;
      max-height: 0;
      height: 0;
      overflow: hidden;

      @include breakpoint($tab) {
        height: auto;
        max-height: 100%;
      }
    }

    &-item {
      @include breakpoint($tab) {
        display: inline-block;
      }
    }

    &-link {
      &:hover {
        color: color(white);
      }
    }
  }

  .nav-link,
  .is-active {
    @include adjust-font-size-to(16px, 10);
    color: color(white);
    display: block;
    padding: 0 2.3rem;
  }

  .is-active {
    background-color: color(brand-primary-dark);
  }

  .toggler {
    position: absolute;
    top: -5.8rem;
    left: .5rem;
    z-index: 2;
    cursor: pointer;
    width: 5rem;
    height: 5rem;
    max-height: 5rem;
    max-width: 5rem;
    margin: 0;
    opacity: 0;
    appearance: none;

    // Put a focus indicator on the hamburger button when the toggler receives keyboard focus.
    &:focus ~ .hamburger {
      outline: 3px solid #fff;
      outline-offset: -3px;
    }

    // Ensure toggler is completely hidden on larger screens and cannot obtain keyboard focus.
    @include breakpoint($tab) {
      display: none;
    }

    /* Toggler Animation */
    &:checked + .hamburger > div {
      transform: rotate(135deg);

      /* Turns Lines Into X */
      &::before,
      &::after {
        top: 0;
        transform: rotate(90deg);
      }
    }

    &:checked:hover + .hamburger > div {
      transform: rotate(225deg);
    }

    /* Show menu */
    &:checked ~ .nav-main,
    & ~ .nav-main:focus-within {
      height: auto;
      max-height: 60rem;
      transition: max-height 1s ease;
    }

    &-label {
      color: #fff;
    }
  }

  .hamburger {
    position: absolute;
    top: -5.8rem;
    left: .5rem;
    z-index: 1;
    width: 5rem;
    height: 5rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $brand-primary-medium;

    .path-search & {
      justify-content: flex-start;
      left: 0;
      top: -6.5rem;
      width: 100%;
      height: 6.5rem;
      padding: 1rem 1.5rem;
    }

    @include breakpoint($tab) {
      display: none;
    }

    /* Hamburger Line */
    & > div {
      position: relative;
      flex: none;
      width: 100%;
      max-width: 3rem;
      height: .3rem;
      background: #fff;
      // sass-lint:disable no-transition-all
      transition: all .4s ease;
      // sass-lint:enable no-transition-all

      /* Hamburger Lines - Top & Bottom */
      &::after,
      &::before {
        content: '';
        position: absolute;
        z-index: 1;
        top: -.9rem;
        width: 100%;
        height: .3rem;
        background: inherit;
      }

      /* Moves Line Down */
      &::after {
        top: .9rem;
      }
    }
  }
}
