/*
 * @file
 * Provides the styling for a navigation breadcrumb.
 */
@import '../../init';

// menu's share common attributes
.nav {
  // applied to menu ol / ul
  &-menu {
    list-style: none;
    padding: 0;
  }

  // applied to the menu li
  &-item {
    margin: 0;
    padding: 0;

    .menu-inline & {
      display: inline-block;
    }
  }

  // applied to menu links
  &-menu a,
  &-link {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
