/**
 * @file
 * Provides the layout links to downloadable files.
 */

@import '../../init';

// File links and icons
//
// It is common to link to downloadable non-html files. When such a link is provided from a fielded entity, there is a
// custom formatter provided in the nics origins_common module that handles the mark up and output of the link in order
// that useful classes and attributes are provided to the an end user and user agents.
//
// Style guide: components.file-links

.file {
  &-link {
    @include adjust-font-size-to(21px, 4.5);
    font-weight: 500;
    display: block;

    &--simple {
      @include responsive-typo-map($normal-text)
    }

    &.file--ico {
      min-height: 50px;
      padding-left: 65px;
      position: relative;

      &::before {
        position: absolute;
        left: 0;
        top: 0;
      }
    }

    .meta {
      @include adjust-font-size-to(14px, 3.5);
      display: block;
    }

    &:focus {
      background-color: $link;
      color: #fff;
      outline: 5px solid $link;
      text-decoration: none;

      .meta {
        color: #fff;
      }
    }
  }
}

@mixin file-icons($scale: 1, $margin: 0) {
  $icon-scale: $scale;
  $icon-row: 0;
  $icon-width: 35px * $icon-scale;
  $icon-height: 50px * $icon-scale;
  $icon-margin: $margin;
  $icons: resolve('nigov-file-icons.svg');
  $icon-size-x: 785px * $icon-scale;
  $icon-size-y: 105px * $icon-scale;
  $icon-column-size: 75px * $icon-scale;
  $icon-row-size: 55px * $icon-scale;

  &::before {
    content: '';
    display: inline-block;
    width: $icon-width;
    height: $icon-height;
    margin: $icon-margin;
    background: transparent $icons no-repeat;
    background-position-x: -($icon-column-size * 10);
    background-position-y: -($icon-row-size * $icon-row);
    background-size: $icon-size-x $icon-size-y;
  }

  &__word::before,
  &__doc::before,
  &__docx::before,
  &__dot::before {
    background-position-x: -($icon-column-size * 0);
  }

  &__pdf::before {
    background-position-x: -($icon-column-size * 1);
  }

  &__excel::before,
  &__xls::before,
  &__xlsx::before,
  &__xlsm::before {
    background-position-x: -($icon-column-size * 2);
  }

  &__powerpoint::before,
  &__ppt::before,
  &__pptx::before,
  &__pptm::before {
    background-position-x: -($icon-column-size * 3);
  }

  &__opendocument-text::before,
  &__odt::before {
    background-position-x: -($icon-column-size * 4);
  }

  &__opendocument-spreadsheet::before,
  &__ods::before {
    background-position-x: -($icon-column-size * 5);
  }

  &__opendocument-presentation::before,
  &__odp::before {
    background-position-x: -($icon-column-size * 6);
  }

  &__csv::before {
    background-position-x: -($icon-column-size * 7);
  }

  &__zip::before {
    background-position-x: -($icon-column-size * 8);
  }

  &__html::before {
    background-position-x: -($icon-column-size * 9);
  }
}

.file--ico {
  @include file-icons(1);
}

.media-library-views-form {

  .file--media-library-preview {
    text-align: center;
  }

  .media-library-item--grid {

    .field--name-thumbnail {
      background-color: #000;

      img {
        height: 110px;
        object-fit: contain;
        object-position: center center;
        margin: 35px 0;
      }
    }

    .media-remote_video .field--name-thumbnail img {
      margin: 15px 0;
      height: 150px;
    }

    .file--media-library-preview {
      background-color: #ebebeb;
      padding: 5px;
    }

    .file--ico {
      @include file-icons(2, 35px 0);
    }

    .media-library-item__status {
      position: absolute;
      top: 50%;
      left: 50%;
      padding: 0 5px;
      color: red;
      background: rgba(255, 255, 255, .85);
      box-shadow: 0px 3px 9px -3px rgba(0, 0, 0, .3);
      font-size: 15px;
      font-style: normal;
      font-weight: bold;
      width: auto;
      height: auto;
      box-sizing: border-box;
      line-height: 25px;
      text-align: center;
      transform: translateX(-50%) translateY(-100%);
      text-transform: uppercase;
    }
  }

  .views-field-thumbnail__target-id {
    text-align: center;
  }

  .media-remote_video::before {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, calc(-50% - 17px));
    color: #fff;
    background: rgba(0,0,0,.5) url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24" fill="white" width="18px" height="18px"><g><rect fill="none" height="24" width="24"/></g><g><path d="M12,2C6.48,2,2,6.48,2,12s4.48,10,10,10s10-4.48,10-10S17.52,2,12,2z M9.5,16.5v-9l7,4.5L9.5,16.5z"/></g></svg>') center center no-repeat;
    background-size: 40px auto;
    border-radius: 20px;
    opacity: .75;
  }
}



