/*
 * @file
 * Provides the layout styles for the header area.
 */

@import '../init';

// Layouts - header
//
// The layout styling for major parts of the page  are created 'mobile-first' using the benefits of flexbox and cssgrid,
// declaring appropriate fallbacks where the technology is not widely enough implemented in currently used web
// browsers. We utilise auto-prefixer to help in this regard to ensure that when prefixing for a declaration is required
// for a particular vendor that the developer need not be concerned with making sure this is done.
//
// As NICS has comparatively few variations in layouts, therefore layouts can be covered with relatively little code.
// This section of the styleguide is essentially broken into 2 main areas - common classes and utilities that are
// required and used for layout, then there are a series of individual layouts.
//
// Weight: -8
//
// Style guide: layouts.header

.header {
  display: grid;
  grid-gap: 0;
  grid-template-columns: 1fr;
  justify-content: space-between;

  @include breakpoint($tab) {
    grid-template-columns: $header-template-columns;
    margin: 0 auto;
    max-width: $max-grid-width;
    padding: 4.3rem 0 3rem;
  }
}

.social-media-links li {
  a {
    background-color: inherit;
    background: url('../../images/svg-fallback-sprite.png');
    background-repeat: no-repeat;
  }

  a[href*='https://twitter.com'] {
    background-position: -40px 8px;
  }

  a[href*='https://www.facebook.com'] {
    background-position: 0 8px;
  }

  a[href*='https://www.youtube.com'] {
    background-position: -80px 8px;
  }

  a[href*='/news-rss.xml'] {
    background-position: -120px 8px;
  }
}
