@import '../init';

// Triptych
//
// This layout defines three equal width child elements each would have approximately one third of the available space.
//
// Weight: 0
//
// Markup: ../kss-templates/layouts-nics-3-col.twig
//
// Style guide: layouts.three-column.triptych
.layout--triptych {

  @include breakpoint($tab) {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: $grid-gap;

    > * {
      /* no grid support? */
      float: left;
      width: 33%;
    }
  }
}
