// sass-lint:disable no-vendor-prefixes

// Root
//
// The HTML root component contains the doctype, HTML element, HEAD element and
// BODY element. It also contains the CSS for those elements and the `*`
// universal selector.
//
// markup: base-root.twig
//
// weight: 2
//
// Style guide: base.root

// Use the saner border-box model for all elements.
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  @include adjust-leading-to(4); // Establish a vertical rhythm unit using $base-line-height.
  font-family: $base-font-family; /* 1 */
  font-size: 100% * ($base-font-size / 16px); /* 3 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  // On short pages, we want any background gradients to fill the entire height
  // of the browser.
  min-height: 100%;
}

body {
  // Remove default margin and padding.
  margin: 0;
  padding: 0;
}
