/* =====================================================
 * Drupal tabs - tabbed menu's
 * =====================================================*/

@import 'init';

/* Basic positioning styles shared by primary and secondary tabs. */
%tabs {
  //@include clearfix;
  list-style: none;
  margin: rhythm(1) 0;
  //padding: 0 2px;
  white-space: nowrap;
}

%tabs--tab {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  list-style-image: none !important;
}

%tabs--tab-link {
  @include adjust-leading-to(1);
  border-bottom: 0;
  display: block;
  box-sizing: border-box;
  text-decoration: none;
}

/* Primary tabs. */
.tabs-primary {
  @extend %tabs;
  padding-left: 18px;
  border-bottom: 1px solid #ccc;
  margin: 1.8rem 0;
}

.tab {
  @extend %tabs--tab;
  top: 5px;
  font-size: 18px;
}

.tab.is-active {
  @extend %tabs--tab;
  font-size: 18px;
  top: 0;
  bottom: -1px;
  left: 1px;
  z-index: 10;
}

.tab + .tab.is-active {
  left: -1px;
}

// We use 3 placeholder styles to prevent @extend from going selector crazy.
%tabs-primary--tab-link {
  @extend %tabs--tab-link;
  color: #666;
  background-color: #fff;
  padding: 7px 14px 6px;
  text-align: center;
  border: solid #ccc;
  border-radius: .25em .5em 0 0;
  border-width: 1px 1px 0 0;
  line-height: 1em;
  transition: background-color .1s;

  :first-child {
    border-width: 1px 1px 0;
  }
}

%tabs-primary--tab-link-is-hover {
  background-color: color(charcoal);
  border-color: color(charcoal);
  color: #fff;
}

%tabs-primary--tab-link-is-active {
  background-color: #ebedee;
  border-color: #e0e0e0;
  color: #555;
  padding: 9px 18px;
}

.tab a {
  @extend %tabs-primary--tab-link;

  &:hover,
  &:focus {
    @extend %tabs-primary--tab-link-is-hover;
  }

  &:active {
    @extend %tabs-primary--tab-link-is-active;
  }
}

.tab a.is-active {
  @extend %tabs-primary--tab-link;
  @extend %tabs-primary--tab-link-is-active;
}

.tab.is-active .activelink {
  @extend %tabs-primary--tab-link;
  @extend %tabs-primary--tab-link-is-active;
}

/* Secondary tabs. */
.tabs-secondary {
  @extend %tabs;
  font-size: .9em;
  /* Collapse bottom margin of ul.primary. */
  margin-top: -(rhythm(1));
}

.tabs-secondary--tab,
.tabs-secondary--tab.is-active {
  @extend %tabs--tab;
  margin: rhythm(1)/2 3px;
}

// We use 3 placeholder styles to prevent @extend from going selector crazy.
%tabs-secondary--tab-link {
  @extend %tabs--tab-link;
  //@include single-text-shadow(#fff, 1px, 1px, 0);
  background-color: #f2f2f2;
  border-radius: .75em;
  color: #666;
  padding: 0 .5em;
  transition: background-color .3s;
}

%tabs-secondary--tab-link-is-focus {
  background-color: color(grey-light);
  border-color: #999;
  color: color('grey');
}

%tabs-secondary--tab-link-is-active {
  //@include single-text-shadow($charcoal, 1px, 1px, 0);
  background-color: #666;
  border-color: #000;
  color: #fff;
}

a.tabs-secondary--tab-link {
  @extend %tabs-secondary--tab-link;

  &:hover,
  &:focus {
    @extend %tabs-secondary--tab-link-is-focus;
  }

  &:active {
    @extend %tabs-secondary--tab-link-is-active;
  }
}

a.tabs-secondary--tab-link.is-active {
  @extend %tabs-secondary--tab-link;
  @extend %tabs-secondary--tab-link-is-active;
}

.tab.active {
  top: 0;
}

// reset issues on the toolbar where it inherits base font size / margin / padding
.toolbar {
  div,
  p,
  blockquote,
  th,
  td,
  li,
  .item-list,
  .item-list li,
  .menu-item,
  .menu-item--expanded {
    font-size: unset;
    margin: 0;
    padding: 0;
  }
}

.path-user {
  .form-item {
    margin: 1em 0;
  }
}

.user-login-form {
  input[type='submit'] {
    @include adjust-font-size-to(16px, 4);
    background-color: $button;
    border: 1px solid $button;
    color: #fff;
    margin-bottom: 2.7rem;
    min-width: 100px;
    padding: .6rem .9rem;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;

    @include breakpoint($phab) {
      @include adjust-font-size-to(18px, 4.5);
      min-width: 120px;
    }
  }
}



/**
 * Visual styles for dropbutton component.
 */

.js .dropbutton-widget {
  overflow: hidden;
  margin: 0.125em 0;
  cursor: pointer;
  text-align: center;
  color: #3a3a3a;
  border: 1px solid;
  border-color: #e4e4e4 #d2d2d2 #b4b4b4 #d2d2d2;
  background-color: #fff;
  background-image: -webkit-linear-gradient(top, #f3f3f3, #e8e8e8);
  background-image: linear-gradient(to bottom, #f3f3f3, #e8e8e8);
}
.js .dropbutton-widget:hover {
  border-color: #e4e4e4 #d2d2d2 #b4b4b4 #d2d2d2;
}
.js .dropbutton-widget .button {
  margin: 0;
  padding: 0.32em 1em;
  border: none;
  background: transparent none;
}
.js .dropbutton-multiple .dropbutton-widget,
.js[dir="rtl"] .dropbutton-multiple .dropbutton-widget {
  padding: 0;
}
.js .dropbutton-multiple .dropbutton-widget .dropbutton {
  position: relative;
  padding-right: 2em; /* LTR */
}
.js[dir="rtl"] .dropbutton-multiple .dropbutton-widget .dropbutton {
  padding-right: 0;
  padding-left: 2em;
}
.js .dropbutton-multiple .dropbutton-widget .dropbutton-action a {
  margin-right: 0; /* LTR */
}
[dir="rtl"].js .dropbutton-multiple .dropbutton-widget .dropbutton-action a {
  margin-left: 0;
}
.js .dropbutton .secondary-action {
  border-top-color: #ccc;
}
.js .dropbutton-toggle button {
  background-color: #e8e8e8;
  background-image: -webkit-linear-gradient(top, #e8e8e8, #d2d2d2);
  background-image: linear-gradient(to bottom, #e8e8e8, #d2d2d2);
}
.js .dropbutton-toggle .dropbutton-arrow:hover {
  background: #ccc;
}

.js .dropbutton > * {
  margin: 0;
}

.js .dropbutton a {
  color: #3a3a3a;
  border-bottom: 0 none;
  padding: .6rem 1.2rem;
}
.js .dropbutton .dropbutton-action:hover,
.js .dropbutton a:hover {
  border-bottom: 0 none;
  background: #dedede;
}

/**
 * Visual styles for the moderation sidebar.
 */

.moderation-sidebar-container {
  position: relative;
  left: -5px;
  width: calc(100% + 10px);
  padding-bottom: 0 !important;
}

.moderation-sidebar-info {
  margin: .5rem 0 1rem !important;
}

.moderation-sidebar-info p {
  font-family: unset !important;
  font-size: 14px;
  line-height: 1.5;
  margin: 0 !important;

  a:focus {
    outline: none;
  }
}

.moderation-sidebar-actions {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  .moderation-sidebar-quick-transition-form {
    order: 1;
    width: 100%;
    margin: 1rem 0 !important;
    display: flex;
    flex-flow: column nowrap;

    & > * {
      order: 2;
    }

    & > .moderation-sidebar-link.button {
      order: 0;
      border-radius: 2px;

      &--danger {
        order: 1;
      }
    }

    .form-item-revision-log-toggle {
      margin: 0 !important;

      input[type='checkbox'],
      input[type='checkbox'] + label {
        min-height: unset;
        line-height: 1;
        vertical-align: top;
      }
    }
  }

  a.moderation-sidebar-link {
    order: 1;
    display: inline-block !important;
    width: 48.5%;
    word-spacing: -1px;
    border-radius: 0;

    // Make edit button a call to action and make it the first button
    &[href*='/edit'] {
      background-color: green !important;
      order: 0;
    }

    // Make the delete button last
    &[href*='/delete'] {
      order: 3;
      margin: 0 auto !important;
    }
  }
}
