<div class="gd-row" role="presentation">
  <article class="col-md-8">
    {{- content.main -}}
  </article>
  {% if content.sidebar %}
    <aside class="col-md-4">
      {{- content.sidebar -}}
    </aside>
  {% endif %}
</div>
