<form id="site-search-form" class="col site-search-form" role="search" action="/search">
    <input type="search" name="query" value="" maxlength="128"
           aria-label="search" title="Enter terms that you wish to search for"
           required="required" placeholder="Search nidirect">
    <input type="submit" name="submit-btn" value="Go">
</form>
